.idea
*/generatorConfig.xml
*.iml
*/target
*.idea
/target
target
*/settings
.project
*.prefs
*.jar

*/.settings

.classpath
/pom.vm
/.settings/

*/*.class
/bin/

*/**.launch
*/generatorConfig.xml
**/generatorConfig.xml
